.publika-color #stoptimes {
  text-align: left;
  white-space: nowrap;
}

.publika-color table .stop-zone {
  background-color: #007ac9;
  border-color: #007ac9;
  color: #fff;
}

/* .publika-color table .stop-platform {
  background-color: #f4f4f5;
  border-color: #f4f4f5;
  border-radius: 4px;
} */

.publika-color :not(.cancelled-trip) .route-line div {
  border-radius: 3px;
  color: #fff;
  padding-top: 2px;
}

.publika-color :not(.cancelled-trip) .route-line div .first {
  padding-left: 20px;
}

.publika-color :not(.cancelled-trip) .route-line div .last {
  padding-right: 20px;
}

.publika-color .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #007ac9;
}

.publika-color .vehicle-bus-express:not(.cancelled-trip) .route-line div,
.publika-color .vehicle-subway:not(.cancelled-trip) .route-line div {
  background-color: #ca4000;
}

.publika-color .vehicle-ferry:not(.cancelled-trip) .route-line div {
  background-color: #007a97;
}

.publika-color .vehicle-rail:not(.cancelled-trip) .route-line div {
  background-color: #8c4799;
}

.publika-color .vehicle-tram:not(.cancelled-trip) .route-line div {
  background-color: #008151;
}

.publika-color i.alert-info,
.publika-color .alert-info i,
.publika-color i.alert-unknown_severity,
.publika-color .alert-unknown_severity i {
  color: #666;
}

.publika-color i.alert-warning,
.publika-color .alert-warning i {
  color: #f2b62d;
}

.publika-color i.alert-severe,
.publika-color .alert-severe i {
  color: #dc0451;
}

.publika-color .realtime:not(.cancelled-trip) .time {
  color: #46850e;
}

.publika-color .bike-station progress[value] {
  /* background-color: #ddd; */
  width: 100%;
}

.publika-color .bike-station progress[value].red {
  accent-color: #ca4000;
}

.publika-color .bike-station progress[value].yellow {
  accent-color: #f2b62d;
}

.publika-color .bike-station progress[value].green {
  accent-color: #46850e;
}

.publika-color #notifications .notification {
  background-color: #f2b62d;
  color: #000;
}

.publika-color .eta-realtime {
  color: #46850e;
}

.publika-color.publika-hameenlinna table .stop-zone {
  background-color: #f76013;
  border-color: #f76013;
}

.publika-color.publika-hameenlinna .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #f76013;
}

.publika-color.publika-mikkeli table .stop-zone {
  background-color: #52b9e9;
  border-color: #52b9e9;
}

.publika-color.publika-mikkeli .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #52b9e9;
}

.publika-color.publika-tampere table .stop-zone {
  background-color: #1c57cf;
  border-color: #1c57cf;
}

.publika-color.publika-tampere .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #1a4a8f;
}

.publika-color.publika-tampere .vehicle-tram:not(.cancelled-trip) .route-line div {
  background-color: #da2128;
}

.publika-color.publika-foli table .stop-zone {
  background-color: #e8aa27;
  border-color: #e8aa27;
}

.publika-color.publika-foli .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #e8aa27;
}

.publika-color.publika-joensuu table .stop-zone {
  background-color: #5c4696;
  border-color: #5c4696;
}

.publika-color.publika-joensuu .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #009fe3;
}

.publika-color.publika-kajaani table .stop-zone {
  background-color: #f16522;
  border-color: #f16522;
}

.publika-color.publika-kajaani .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #f16522;
}

.publika-color.publika-kotka table .stop-zone {
  background-color: #0001ff;
  border-color: #0001ff;
}

.publika-color.publika-kotka .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #0001ff;
}

.publika-color.publika-kouvola table .stop-zone {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.publika-color.publika-kouvola .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #fff;
  color: #000;
}

.publika-color.publika-kuopio table .stop-zone {
  background-color: #0ab1c8;
  border-color: #0ab1c8;
}

.publika-color.publika-kuopio .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #724f9f;
}

.publika-color.publika-lahti table .stop-zone {
  background-color: #0066b3;
  border-color: #0066b3;
}

.publika-color.publika-lahti .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #0066b3;
}

.publika-color.publika-lappeenranta table .stop-zone {
  background-color: #ea4097;
  border-color: #ea4097;
}

.publika-color.publika-lappeenranta .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #ea4097;
}

.publika-color.publika-oulu table .stop-zone {
  background-color: #e10669;
  border-color: #e10669;
}

.publika-color.publika-oulu .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #e10669;
}

.publika-color.publika-rovaniemi table .stop-zone {
  background-color: #34b233;
  border-color: #34b233;
}

.publika-color.publika-rovaniemi .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #34b233;
}

.publika-color.publika-vaasa table .stop-zone {
  background-color: #000a8c;
  border-color: #000a8c;
}

.publika-color.publika-vaasa .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #000a8c;
}

.publika-color.publika-linkki table .stop-zone {
  background-color: #7dc02d;
  border-color: #7dc02d;
}

.publika-color.publika-linkki .vehicle-bus:not(.cancelled-trip) .route-line div {
  background-color: #7dc02d;
}
