.publika .module-content {
  text-align: left;
}

.publika .stop-subheader td {
  font-size: 70%;
  padding: 3px 5px;
}

.publika .notification {
  float: right;
  position: absolute;
  background-color: black;
  margin-bottom: 30px;
}

.publika .notification table td {
  border: 1px solid;
  border-radius: 5px;
  padding: 30px;
}

.publika .now {
  animation: blinker 2s linear infinite;
}

.publika table td {
  padding: 0 5px;
}

.publika table td.time {
  text-align: right;
}

.publika table td.smaller {
  font-size: 70%;
}

.publika table .stop-code {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 2px;
}

.publika table .route-line {
  text-align: center;
}

.publika table .route-line-icon {
  font-size: 80%;
}

.publika table .stop-platform {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 5px;
}

.publika table .stop-zone {
  border: 1px solid;
  border-radius: 16px;
  padding: 1px 5px;
}

.publika table .minutes-from {
  float: right;
}

.publika table .cancelled-trip {
  text-decoration: line-through;
}

.publika table .alert {
  font-size: 80%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
