.publika .module-content {
  text-align: left;
}

.publika .stop-subheader td {
  font-size: 70%;
}

.publika table td.time {
  text-align: right;
}

.publika table td.smaller {
  font-size: 70%;
}

.publika table .stop-code {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 2px;
}

.publika table .stop-platform {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 5px;
}

.publika table .stop-zone {
  border: 1px solid;
  border-radius: 16px;
  padding: 1px 5px;
}

.publika table .minutes-from {
  float: right;
}

.publika .notification {
  float: right;
  position: absolute;
  background-color: black;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;
}

.publika .now {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.publika table .cancelled-trip {
  text-decoration: line-through;
}
