.publika .timetable {
  text-align: left;
  white-space: nowrap;
}

.publika .stop-subheader td {
  font-size: 70%;
  padding: 3px 0px;
}

.publika .stop-subheader td span {
  margin-left: 5px;
}

.publika .stop-subheader td span:first-child {
  margin-left: 0px;
}

.publika .notification {
  float: right;
  position: absolute;
  background-color: black;
  margin-bottom: 30px;
}

.publika .notification table td {
  border: 1px solid;
  border-radius: 5px;
  padding: 30px;
}

.publika .now {
  animation: blinker 2s linear infinite;
}

.publika table td {
  padding: 0 5px;
}

.publika table td.time {
  text-align: right;
}

.publika table .smaller {
  font-size: 70%;
}

.publika table .stop-code {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 2px;
}

.publika table .route-line {
  text-align: center;
}

.publika table .route-line-icon {
  font-size: 80%;
}

.publika table .stop-platform {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 5px;
}

.publika table .stop-platform.smaller {
  font-size: 60%;
}

.publika table .stop-zone {
  border: 1px solid;
  border-radius: 16px;
  padding: 1px 5px;
}

.publika table .minutes-from {
  float: right;
}

.publika table .cancelled-trip {
  text-decoration: line-through;
}

.publika table .update-old {
  opacity: 0.4;
}

.publika table .update-older {
  opacity: 0.2;
}

.publika table .alert {
  font-size: 80%;
}

.publika table .alert-full {
  max-width: 1px;
  white-space: normal;
  padding: 5px 0 0 5px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
