<div class="light small timetable">
  {% include "templates/elements/notifications.njk" %}
  <table id="stoptimes">
    <tbody>
      {% for stop in data.stops %}
      {% if stop.meta.responseType==="STOP_SEARCH" %}
      {% include "templates/elements/stop-search.njk" %}
      {% else %}
      {% include "templates/elements/stop-stoptimes.njk" %}
      {% endif %}
      <tr>
        <td data-context="default.normal">&nbsp;</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
