<div class="light small publika-base publika-{{config.theme}} publika-{{config.feed | lower}}">
  {% include "templates/default/elements/notifications.njk" %}
  <table id="stoptimes">
    <tbody>
      {% for stop in data.stops %}
        {% if functions.validateStopRules(stop) %}
          {% if stop.search %}
            {% include "templates/default/elements/stop-search.njk" %}
          {% elif stop.type === "bikeStation" %}
            {% if functions.isBikeSeason() %}
              {% include "templates/default/elements/bike-station.njk" %}
            {% else %}
              {% include "templates/default/elements/bike-station-off.njk" %}
            {% endif %}
          {% elif stop.type === "plan" %}
            {% include "templates/default/elements/plan.njk" %}
          {% else %}
            {% include "templates/default/elements/stop-stoptimes.njk" %}
          {% endif %}
          <tr>
            <td data-context="default.normal">&nbsp;</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
