<tr class="stop-header bright bike-off-season" data-source="{{stop | dump if config.debug else "prod"}}">
  <th colspan="{{defaults.colspan}}">
    <i class="fa-solid fa-bicycle"></i>
    <span>{{"OFF_SEASON" | translate}}</span>
  </th>
</tr>
