{% if data.notifications.length %}
  <table id="notifications">
    {% for notification in data.notifications %}
      {% if loop.first %}
        {{functions.setPrintedTime(notification)}}
      {% endif %}
      <tr>
        <td class="notification {{"now" if notification.blink}}" colspan="{{defaults.colspan}}">
          {{notification.message}}
        </td>
      </tr>
      <tr>
        <td class="notification-div" data-context="notifications">&nbsp;</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
