{% if data.notifications.length %}
  <table id="notifications">
    {% for notification in data.notifications %}
      <tr>
        <td class="notification" colspan="{{defaults.colspan}}">
          {{notification.message}}
        </td>
      </tr>
      <tr>
        <td class="notification-div" data-context="notifications">&nbsp;</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
