{% set vehicleType = stoptime.stop.vehicleMode %}
{% if stoptime.stop.vehicleMode === "BUS" and stoptime.trip.route.type === 702 %}
  {% set vehicleType = "bus-express" %}
{% endif %}
<tr class="vehicle-{{vehicleType | lower}} {{functions.getStoptimeStyles(stop, stoptime)}}" data-source="{{stoptime | dump if config.debug else "prod"}}">
  {% if stoptime.cancelled %}
    <td class="route-line">
      <div>
        {{stoptime.line}}
      </div>
    </td>
  {% else %}
    <td class="route-line route-line-icon">
      {% set routeShortName %}
      {% for item in stoptime.line | lower | list %}
        <i class="{{"first" if loop.first}} {{"last" if loop.last}} fa-regular fa-{{item}}"></i>
      {% endfor %}
      {% endset %}
      {% if stoptime.trip.route.color %}
        {% if stoptime.trip.route.color === "000000" %}
          <div style="background-color: #ffffff; color: #000000">{{routeShortName | safe}}</div>
        {% else %}
          <div style="background-color: #{{stoptime.trip.route.color}}">{{routeShortName | safe}}</div>
        {% endif %}
      {% else %}
        <div>{{routeShortName | safe}}</div>
      {% endif %}
    </td>
  {% endif %}
  <td>
    {% set headsignAlerts = functions.getHeadsignAlerts(stop, stoptime) %}
    {% for headsignAlert in headsignAlerts %}
      <i class="alert alert-{{headsignAlert | lower}} {{maps.alertSeverityLevels.get(headsignAlert)}}"></i>
    {% endfor %}
    {% if not stoptime.pickup %}
      <i class="fa-solid fa-hand"></i>
      {{"NO_PICKUP" | translate}}
    {% else %}
      {{functions.getHeadsignText(stop, stoptime)}}
    {% endif %}
  </td>
  <td class="time smaller">
    {% if stoptime.cancelled %}
      <i class="fa-solid fa-xmark"></i>
    {% else %}
      {% set scheduledTimeIcon = "" %}
      {% if not stoptime.realtime and config.theme === "mono" %}
        {% set scheduledTimeIcon = "~" %}
      {% endif %}
      {% if stoptime.remainingTime > 20 %}
      {% elif stoptime.remainingTime === 0 %}
        {{scheduledTimeIcon}}{{"NOW" | translate}}
      {% elif stoptime.remainingTime > 0 %}
        {{scheduledTimeIcon}}{{stoptime.remainingTime}}
        {{"MINUTES_ABBR" | translate}}
      {% else %}
        <i class="fa-solid fa-clock-rotate-left"></i>
      {% endif %}
    {% endif %}
  </td>
  <td class="time">
    {{stoptime.time | moment}}
  </td>
  {% if stoptime.eta.time %}
    <td class="eta eta-{{"realtime" if stoptime.eta.realtime else "schedule"}}">
      <i class="fa-solid fa-arrow-right-long"></i>
      {{stoptime.eta.time | moment}}
    </td>
  {% elif stop.stopsLength > 1 and stoptime.stop.platformCode %}
    <td>
      <span class="stop-platform smaller">{{stoptime.stop.platformCode}}</span>
    </td>
  {% endif %}
</tr>
