{% if functions.validateStopRules(stop) %}
  <tr class="stop-header bright" data-source="{{stop | dump if config.debug else "prod"}}">
    {% if stop.meta %}
      <th colspan="{{defaults.colspan+1}}">
        <i class="{{maps.vehicleModes.get(stop.meta.vehicleMode)}}"></i>
        {{stop.meta.name}}{{[" - ", stop.name] | join if stop.name}}
        {% if stop.eta %}
          <i class="fa-solid fa-arrow-right-long"></i>
          {% if stop.destination %}
            {{stop.destination}}
          {% else %}
            HSL:{{stop.eta}}
          {% endif %}
        {% endif %}
      </th>
    {% else %}
      <th colspan="{{defaults.colspan}}">
        HSL:{{stop.id | truncate(20) if stop.id.length > 20 else stop.id}}
        {% if stop.eta %}
          <i class="fa-solid fa-arrow-right-long"></i>
          HSL:{{stop.eta}}
        {% endif %}
      </th>
    {% endif %}
  </tr>
  {% set context = [
    stop.meta, {
      minutesFrom: stop.minutesFrom
    }
  ] | contextualize %}
  {% include "templates/elements/sub-header.njk" %}
  {% if stop.type === "cluster" %}
    <tr>
      <td colspan="{{defaults.colspan}}">
        <i class="fa-solid fa-xmark"></i>
        {{"CLUSTER" | translate}}
      </td>
    </tr>
  {% elif stop.stoptimes.error %}
    <tr>
      <td colspan="{{defaults.colspan}}">
        <i class="fa-solid fa-xmark"></i>
        {{"ERROR" | translate}}
      </td>
    </tr>
  {% elif stop.stoptimes.empty %}
    <tr>
      <td colspan="{{defaults.colspan}}">
        <i class="fa-solid fa-spinner"></i>
        {{"LOADING" | translate}}
      </td>
    </tr>
  {% endif %}
  {% if stop.updateAge === true %}
    <tr>
      <td colspan="{{defaults.colspan}}">
        <i class="fa-solid fa-hourglass-end"></i>
        {{"UPDATE_OLD" | translate}}
      </td>
    </tr>
  {% endif %}
  {% for stoptime in stop.stoptimes %}
    {% include "templates/elements/stoptime.njk" %}
  {% endfor %}
  {% set agedStyle = functions.getAgedStyle(stop) %}
  {% for stopAlert in functions.getStopAlerts(stop) %}
    <tr class="{{agedStyle}}">
      <td class="alert alert-full alert-{{stopAlert.alertSeverityLevel | lower}}" colspan="{{defaults.colspan}}">
        <i class="{{maps.alertSeverityLevels.get(stopAlert.icon)}}"></i>
        {{stopAlert.text}}
      </td>
    </tr>
  {% endfor %}
{% endif %}
