<div class="light small timetable">
  <table id="stoptimes">
    <tbody>
      <tr class="stop-header">
        <th colspan="4"><i class="fa-solid fa-train"></i> Lentoaseman asema</th>
      </tr>
      <tr class="stop-subheader">
        <td colspan="4"><span class="stop-code">Asema</span><span class="stop-zone"><i class="fa-solid fa-c"></i></span>
        </td>
        <td>
        </td>
      </tr>
      <tr class="now">
        <td class="route-line route-line-icon"><i class="fa-regular fa-i"></i></td>
        <td>Helsinki via Huopalahti</td>
        <td class="time smaller">Nyt</td>
        <td class="time">6:15 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-p"></i></td>
        <td><i class="alert fa-solid fa-circle-info"></i> Helsinki via Tikkurila</td>
        <td class="time smaller">7 min</td>
        <td class="time">6:22 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-i"></i></td>
        <td>Helsinki via Huopalahti</td>
        <td class="time smaller">10 min</td>
        <td class="time">6:24 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-p"></i></td>
        <td><i class="alert fa-solid fa-circle-info"></i> Helsinki via Tikkurila</td>
        <td class="time smaller">18 min</td>
        <td class="time">6:33 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-i"></i></td>
        <td>Helsinki via Huopalahti</td>
        <td class="time smaller">19 min</td>
        <td class="time">6:34 pm</td>
      </tr>
      <tr>
        <td data-function="getAlerts">&nbsp;</td>
        <td class="alert" colspan="3"><i class="undefined fa-solid fa-circle-info"></i> Kiertotie</td>
      </tr>
      <tr>
        <td data-function="getDom">&nbsp;</td>
      </tr>
      <tr class="stop-header">
        <th colspan="4"><i class="fa-solid fa-ferry"></i> Kauppatori</th>
      </tr>
      <tr class="stop-subheader">
        <td colspan="4"><span>Kauppatori</span><span class="stop-code">H0099</span><span class="stop-zone"><i
              class="fa-solid fa-a"></i></span></td>
        <td>
        </td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-1"></i> <i class="fa-regular fa-9"></i></td>
        <td>Suomenlinna, päälait</td>
        <td class="time smaller"></td>
        <td class="time">6:40 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-1"></i> <i class="fa-regular fa-9"></i></td>
        <td>Suomenlinna, päälait</td>
        <td class="time smaller"></td>
        <td class="time">7:20 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-1"></i> <i class="fa-regular fa-9"></i></td>
        <td>Suomenlinna, päälait</td>
        <td class="time smaller"></td>
        <td class="time">8:00 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-1"></i> <i class="fa-regular fa-9"></i></td>
        <td>Suomenlinna, päälait</td>
        <td class="time smaller"></td>
        <td class="time">8:40 pm</td>
      </tr>
      <tr>
        <td class="route-line route-line-icon"><i class="fa-regular fa-1"></i> <i class="fa-regular fa-9"></i></td>
        <td>Suomenlinna, päälait</td>
        <td class="time smaller"></td>
        <td class="time">9:40 pm</td>
      </tr>
      <tr>
        <td data-function="getDom">&nbsp;</td>
      </tr>
      <tr class="stop-header">
        <th colspan="4"><i class="fa-solid fa-magnifying-glass"></i> H0082</th>
      </tr>
      <tr>
        <td colspan="4"><i class="fa-solid fa-train"></i> 1294502 • Pohjois-Haaga</td>
      </tr>
      <tr class="stop-subheader">
        <td colspan="4"><span>Kuparitie 3</span><span class="stop-code">H0082</span><span>Raite</span><span
            class="stop-platform">2</span><span class="stop-zone"><i class="fa-solid fa-b"></i></span></td>
      </tr>
      <tr class="stop-subheader">
        <td colspan="4">Asema: 1000207 • Pohjois-Haagan asema</td>
      </tr>
      <tr>
        <td data-function="getTableForStopSearch">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4"><i class="fa-solid fa-train"></i> 1294552 • Pohjois-Haaga</td>
      </tr>
      <tr class="stop-subheader">
        <td colspan="4"><span>Kuparitie 3</span><span class="stop-code">H0082</span><span>Raite</span><span
            class="stop-platform">1</span><span class="stop-zone"><i class="fa-solid fa-b"></i></span></td>
      </tr>
      <tr class="stop-subheader">
        <td colspan="4">Asema: 1000207 • Pohjois-Haagan asema</td>
      </tr>
    </tbody>
  </table>
</div>
